<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Review python iteration, control flows, and functions

_Author: Kiefer Katovich (SF) and Dave Yerrington (SF)_

---




### Learning Objectives
 
- Explore `Python` control flow and conditional programming.  
- Implement `For` and `While` loops to iterate through data structures.
- Apply `if, else` conditional statements.
- Create functions to perform repetitive actions.
- Demonstrate error-handling using `try, except` statements.
- Combine control flow and conditional statements to solve the classic "FizzBuzz" code challenge.
- Use `Python` control flow and functions to help us parse, clean, edit and analyze the Coffee Preferences dataset.

---
### Lesson Guide

- [If Else Statement](#if_else_statements)
- [Iterating With For Loops](#for_loops)
- [FizzBuzz](#fizz_buzz)
- [Functions](#functions)
- [While Loops](#while_loops)
- [Practice control flow on Coffee Preference dataset](#coffee_preference)

<a id='if_else_statements'></a>

# If, Else Statements

---

### 1. Write an if-else statement to check whether the suitcase is over 50lb.

Print a message indicating whether or not the suitcase is over 50lbs.

In [2]:
weight = float(input("How many pounds does your suitcase weigh? "))

How many pounds does your suitcase weigh? 70

In [8]:
# A:
weight = float(input("How many pounds does your suitcase weigh? "))

if weight > 50.0:
    print "Suitcase is over 50.0 lbs"
else:
    print "Suitcase is under 50.0 lbs"

How many pounds does your suitcase weigh? 23
Suitcase is under 50.0 lbs

---

### 2. Write an if-else statement for multiple conditions.

Print out these recommendations based on the weather conditions:

1. The temperature is higher than 60 degrees and it is raining: Bring an umbrella.
2. The temperature is lower than or equal to 60 degrees and it is raining: Bring an umbrella and a jacket.
3. The temperature is higher than 60 degrees and the sun is shining: Wear a T-shirt.
4. The temperature is lower than or equal to 60 degrees and the sun is shining: Bring a jacket.

In [4]:
temperature = float(input('What is the temperature? '))
weather = raw_input('What is the weather? (rain or shine) ')

What is the temperature? 100
What is the weather? (rain or shine) shine

In [11]:
# A:
temperature = float(input('What is the temperature? '))
weather = raw_input('What is the weather? (rain or shine) ')

if temperature > 60.0:
    temperature_string = "The temperature is higher than 60 degrees"
elif temperature <= 60.0:
    temperature_string = "The temperature is lower than or equal to 60 degrees"
else:
    temperature_string = "Invalid temperature input.\n"

if weather == "rain":
    weather_string = "and it is raining: Bring an umbrella and a jacket."
elif weather == "shine":
    weather_string = "and the sun is shining: Wear a T-shirt"
else:
    weather_string = "Invalid weather input.\n"
    
print "%s %s" % (temperature_string, weather_string)

What is the temperature? 61
What is the weather? (rain or shine) rain
The temperature is higher than 60 degrees and it is raining: Bring an umbrella and a jacket.

---
<a id='for_loops'></a>
# For Loops

---
### 3. Write a `for`-loop that iterates from the number 1 to the number 15.

On each iteration, print out the number.

In [18]:
# A:
for i in range(1, 16):
    print i

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

---

### 4. Iterate from 1 to 15, printing whether the number is odd or even.

Hint: The modulus operator, `%`, can be used to take the remainder. For example:

```python
9 % 5 == 4
```

Or in other words, the remainder of dividing 9 by 5 is 4.

In [19]:
# A:
for i in range(1, 16):
    if i % 2:
        print "%s is odd" % (i)
    else:
        print "%s is even" % (i)

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd

---
<a id='fizz_buzz'></a>
### 5. Iterate from 1 to 30 with the following instructions:

1. If a number is divisible by 3, print 'fizz'. 
2. If a number is divisible by 5, print 'buzz'. 
3. If a number is both divisible by 3 and 5 print 'fizzbuzz'.
4. Otherwise, print just the number.

In [29]:
# A:
for i in range(1, 31):
    output_str = "%s " % i
    
    if (i % 3 == 0):
        output_str = output_str + "fizz"
    
    if (i % 5 == 0):
        output_str = output_str + "buzz"

    print "%s" % output_str

1
2
3 fizz
4
5 buzz
6 fizz
7
8
9 fizz
10 buzz
11
12 fizz
13
14
15 fizzbuzz
16
17
18 fizz
19
20 buzz
21 fizz
22
23
24 fizz
25 buzz
26
27 fizz
28
29
30 fizzbuzz

---

### 6. Iterate through the following list of animals, and print each one in all caps.

In [9]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [16]:
# A:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

for animal in animals:
    print animal.upper()

DUCK
RAT
BOAR
SLUG
MAMMOTH
GAZELLE

---

### 7. Iterate through the animals list. Capitalize the first letter and append the modified animals to a new list.

In [46]:
# A:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']
capitalized_animals=[]

for animal in animals:
    capitalized_animal = animal[0].upper() + animal[1:len(animal)]
    # print capitalized_animal
    capitalized_animals.append(capitalized_animal)

for animal in capitalized_animals:
    print animal

Duck
Rat
Boar
Slug
Mammoth
Gazelle

---

### 8. Iterate through the animals. Print out the animal name and the number of vowels in the name.
Hint: You may need to create a variable of vowels for comparison.

In [55]:
# A:
# Assuming that you are asking for the number of vowel instances not the number of unique vowels used despite repetition

animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']
vowels = ['a', 'e' ,'i' , 'o', 'u']

for animal in animals:
    vowel_count = 0

    letter = 0
    while letter < len(animal): 
        if animal[letter] in vowels:
              vowel_count += 1
        letter += 1 
        
    print "'%s' has %s vowels" % (animal, vowel_count)

'duck' has 1 vowels
'rat' has 1 vowels
'boar' has 2 vowels
'slug' has 1 vowels
'mammoth' has 2 vowels
'gazelle' has 3 vowels

---
<a id='functions'></a>
# Functions
---

### 9. Write a function that takes word as an argument and returns the number of vowels in the word.

Try it out on three words.

In [1]:
# A:

# Assuming that you are asking for the number of vowel instances not the number of unique vowels used despite repetition
test_word_1 = "hymn"
test_word_2 = "anaconda"
test_word_3 = "sequoia"

def count_vowels(input_word):
    vowels = ['a', 'e' ,'i' , 'o', 'u']
    vowel_count = 0
    letter = 0
    
    while letter < len(input_word): 
        if input_word[letter] in vowels:
              vowel_count += 1
        letter += 1 

    return vowel_count

print "'%s' has %s vowels" % (test_word_1, count_vowels(test_word_1))
print "'%s' has %s vowels" % (test_word_2, count_vowels(test_word_2))
print "'%s' has %s vowels" % (test_word_3, count_vowels(test_word_3))

'hymn' has 0 vowels
'anaconda' has 4 vowels
'sequoia' has 5 vowels

---

### 10. Write a function to calculate the area of a triangle uaing a height and width.

Test it out.

In [2]:
# A:
# User input values are cast as floats...
height = float(input("Enter the height of the triangle: "))
width  = float(input("Enter the width  of the triangle: "))

def calc_triangle_area(height_value, width_value):
    # Should put more elaborate input validation here, but just some basic checks for now...
    if height <= 0.0:
        print "Height value is not a number > 0.0"
        return
    elif width <= 0.0:
        print "Width value is not a number > 0.0"
        return
    else:
        return (0.5 * width_value) * height_value

print "\nTriangle area is: %s square units" % calc_triangle_area(height, width)

Enter the height of the triangle: 123
Enter the width  of the triangle: 456

Triangle area is: 28044.0 square units

---
<a id='while_loops'></a>
# While Loops
---

### 11. While loops and strings.

Iterate over the following sentence repeatedly, counting the number of vowels in the sentence until you have tallied one million. Print out the number of iterations it took to reach that amount.

In [2]:
sentence = "A MAN KNOCKED ON MY DOOR AND ASKED FOR A SMALL DONATION TOWARDS THE LOCAL SWIMMING POOL SO I GAVE HIM A GLASS OF WATER"

In [9]:
# A:

sentence = "A MAN KNOCKED ON MY DOOR AND ASKED FOR A SMALL DONATION TOWARDS THE LOCAL SWIMMING POOL SO I GAVE HIM A GLASS OF WATER"

vowel_count = 0
max_vowel_count = 100000
num_iterations = 0

def count_vowels(input):
    vowels = ['a', 'e' ,'i' , 'o', 'u']
    vowel_count = 0
    letter = 0
    
    while letter < len(input): 
        if input[letter].lower() in vowels: # Need to put character instance to lower case to check it against lower case char values in the vowels array 
              vowel_count += 1
        letter += 1 

    return vowel_count

while vowel_count < max_vowel_count:
    num_iterations += 1
    vowel_count += count_vowels(sentence)

print "It took %s iterations for the vowel count (%s) to exceed '%s' counted vowels." % (num_iterations, vowel_count, max_vowel_count)

It took 2778 iterations for the vowel count (100008) to exceed '100000' counted vowels.

---

### 12. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

In [18]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [18]:
# A:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']
list_of_floats= []

def isfloat(value):
  try:
    float(value)
    return True
  except ValueError:
    return False

for element in corrupted:
    if isfloat(element):
#        print "%s element: float" % element
        list_of_floats.append(element)
#    else:
#        print "%s element: not float" % element

#print "\nFloat values:"
for float_val in new_list:
    print float_val

23.1
.12
-11.1
1000

---
<a id='coffee_preference'></a>

# Practice control flow on Coffee Preference dataset

### 13. Load coffee preference data from file and print

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write"), and assigns this opened file to `f`. 

We can then use the `.readlines()` built-in function to split the csv file on newlines and assign it to the variable `lines`.

In [3]:
with open('datasets/coffee-preferences.csv','r') as f:
    lines = f.readlines()

#### Iterate through lines and print them out

In [20]:
# A:
with open('datasets/coffee-preferences.csv','r') as f:
    lines = f.readlines()
    
for line in lines:
    print line

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,

#### Print out just the lines object by typing `lines` in a cell and hitting enter.

In [28]:
# A:
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 14. Remove the remaining newline `'\n'` characters with a for-loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**.replace('\n', '')** is a built-in string function that will take the substring you want to replace as its first argument and the string you want to replace it with as its second.

In [22]:
# A:
for line in lines:
    print line.replace('\n', '')

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe
3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,
3/17/2015 18:38:09,April,4,5,5,3,,,3,,5
3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1
3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3
3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,
3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3
3/17/2015 18:39:01,Dave H,4,5,,5,,,,,
3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2
3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4
3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1
3/17/2015 18:39:23,Alex,4,5,,3,,,,,
3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,
3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3
3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5
3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2
3/17/2015 18:40:49,Markus,3,5,,3,,,4,,
3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3
3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,
3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3
3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,

---

### 15. Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains the column names of our data.

In [34]:
# A:
header = []
data = []

header.append(lines[0]) # Need to append for one element otherwise it gets treated as a string and header becomes an array of the chara in the string

if len(lines) > 2:
    data = lines[1:len(lines)]
elif len(lines) == 2:
    data.append(lines[1])

print "\nHeader:"
for line in header:
    print line.replace('\n', '')

print "\nData:"
for line in data:
    print line.replace('\n', '')

Header:
Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

Data:
3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,
3/17/2015 18:38:09,April,4,5,5,3,,,3,,5
3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1
3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3
3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,
3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3
3/17/2015 18:39:01,Dave H,4,5,,5,,,,,
3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2
3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4
3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1
3/17/2015 18:39:23,Alex,4,5,,3,,,,,
3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,
3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3
3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5
3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2
3/17/2015 18:40:49,Markus,3,5,,3,,,4,,
3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3
3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,
3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3
3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,

---

### 16. Split the header and the data strings on commas.

To split a string on the comma character, use the built in **`.split(',')`** function. 

Split the header on commas, then print it. You can see that the original string is now a list containing items that were originally separated by commas.

In [39]:
# A:

# Need to refer to the string header[0], not the array header even though it only has one element which is a string.
print header[0].split(',')

['Timestamp', 'Name', 'Starbucks', 'PhilzCoffee', 'BlueBottleCoffee', 'PeetsTea', 'CaffeTrieste', 'GrandCoffee', 'RitualCoffee', 'FourBarrel', 'WorkshopCafe\n']

---

### 17. Remove the "Timestamp" column.

We aren't interested in the "Timestamp" column in our data, so remove it from the header and the data list.

Removing the Timestamp from the header can be done with list functions or with slicing. To remove the header column from the data, use a for-loop.

Print out the new data object with the timestamps removed.

In [136]:
# A:
new_header = []
new_data = []

field_to_remove="Timestamp"
#field_to_remove="Name"


# PROCESS HEADER:
# Need to create a new header with the actual header string values as separate list values

new_header = header[0].replace('\n','').split(',') # also remove \n from string before splitting into assigned separate elements in new_header
index_of_field_to_remove = new_header.index(field_to_remove)

print "\nField to remove: %s" % field_to_remove
print "Index of '%s' field: %s\n" % (field_to_remove, index_of_field_to_remove)

print "Updated Header:"
new_header.remove(field_to_remove) # remove can be used now that "Timestamp" is an separate element in the new_header list.
print (new_header)

# PROCESS DATA
print "\nUpdated Data:"
for element in data:  
    new_element = []
    new_element = element.replace('\n','').split(',')
    new_element.pop(index_of_field_to_remove) # remove the first element (the Timestamp value) of new_element
    new_data.append(new_element)

for element in new_data:
    print (element)

Field to remove: Timestamp
Index of 'Timestamp' field: 0

Updated Header:
['Name', 'Starbucks', 'PhilzCoffee', 'BlueBottleCoffee', 'PeetsTea', 'CaffeTrieste', 'GrandCoffee', 'RitualCoffee', 'FourBarrel', 'WorkshopCafe']

Updated Data:
['Alison', '3', '5', '4', '3', '', '', '5', '5', '']
['April', '4', '5', '5', '3', '', '', '3', '', '5']
['Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1']
['Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3']
['Isabel', '1', '4', '4', '2', '4', '', '4', '4', '']
['India', '5', '3', '3', '3', '3', '1', '', '', '3']
['Dave H', '4', '5', '', '5', '', '', '', '', '']
['Deepthi', '3', '5', '', '2', '', '', '', '', '2']
['Ramesh', '3', '4', '', '3', '', '', '', '', '4']
['Hugh Jass', '1', '5', '5', '4', '5', '2', '5', '4', '1']
['Alex', '4', '5', '', '3', '', '', '', '', '']
['Ajay Anand', '3', '4', '4', '3', '5', '', '', '', '']
['David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3']
['Zach', '3', '4', '4', '3', '', '', '', '', '5']
['Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2']
['Markus', '3', '5', '', '3', '', '', '4', '', '']
['Otto', '4', '2', '2', '5', '', '', '3', '3', '3']
['Alessandro', '1', '5', '3', '2', '', '', '4', '3', '']
['Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3']
['cheong-tseng eng', '3', '1', '', '', '', '', '4', '', '']

---

### 18. Convert numeric columns to floats and empty fields to `None`.

Iterate through the data, and construct a new data list of lists that contains the numeric ratings converted from strings into floats and the empty fields (which are empty strings '') replaced with the None object.

Use a nested for loop (a for loop within another for loop) to get the job done. You will likely need to use if-else conditional statements as well.

Print out the new data object to make sure you've succeeded.

In [139]:
# A:

# Re-using the isfloat check function
def isfloat(value):
  try:
    float(value)
    return True
  except ValueError:
    return False

# PROCESS DATA
new_converted_data = []

print "\nUpdated Data:"

#print "\nBefore:"
#for data_row in new_data:
#    print (data_row)
    
for data_row in new_data: 
    new_list_element = []
    for field in data_row:
        if isfloat(field): # checks if the string is a floating point value...
            new_list_element.append(float(field))
        elif not field:    # checks if he string is empty...
            new_list_element.append(None)
        else:              # no conversion needed...
            new_list_element.append(field)
    new_converted_data.append(new_list_element)

#print "\nAfter:"
for data_row in new_converted_data:
    print (data_row)

Updated Data:
['Alison', 3.0, 5.0, 4.0, 3.0, None, None, 5.0, 5.0, None]
['April', 4.0, 5.0, 5.0, 3.0, None, None, 3.0, None, 5.0]
['Vijay', 3.0, 5.0, 5.0, 5.0, 3.0, 2.0, 1.0, 1.0, 1.0]
['Vanessa', 1.0, 5.0, 5.0, 2.0, None, None, 3.0, 2.0, 3.0]
['Isabel', 1.0, 4.0, 4.0, 2.0, 4.0, None, 4.0, 4.0, None]
['India', 5.0, 3.0, 3.0, 3.0, 3.0, 1.0, None, None, 3.0]
['Dave H', 4.0, 5.0, None, 5.0, None, None, None, None, None]
['Deepthi', 3.0, 5.0, None, 2.0, None, None, None, None, 2.0]
['Ramesh', 3.0, 4.0, None, 3.0, None, None, None, None, 4.0]
['Hugh Jass', 1.0, 5.0, 5.0, 4.0, 5.0, 2.0, 5.0, 4.0, 1.0]
['Alex', 4.0, 5.0, None, 3.0, None, None, None, None, None]
['Ajay Anand', 3.0, 4.0, 4.0, 3.0, 5.0, None, None, None, None]
['David Feng', 2.0, 3.0, 4.0, 2.0, 2.0, None, 5.0, 4.0, 3.0]
['Zach', 3.0, 4.0, 4.0, 3.0, None, None, None, None, 5.0]
['Matt', 3.0, 5.0, 4.0, 3.0, 2.0, 2.0, 4.0, 3.0, 2.0]
['Markus', 3.0, 5.0, None, 3.0, None, None, 4.0, None, None]
['Otto', 4.0, 2.0, 2.0, 5.0, None, None, 3.0, 3.0, 3.0]
['Alessandro', 1.0, 5.0, 3.0, 2.0, None, None, 4.0, 3.0, None]
['Rocky', 3.0, 5.0, 4.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0]
['cheong-tseng eng', 3.0, 1.0, None, None, None, None, 4.0, None, None]

---

### 19. Count the `None` values per person, and put counts in a dictionary.

Use a for loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys, and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [114]:
# A:

# Create dictionary to store the person = none_count key = value pairs
none_ratings_dict_by_person = {}
none_ratings_dict_by_value = {}
total_num_coffee_brands = 9

# Implmenting a more generic way to specify the field to use as the key name in the dictionary rather than relying on it being the first field in the data set...
field_for_key_name = "Name"                                         # specify the name of the field to lookup in the header
index_of_field_for_key_name = new_header.index(field_for_key_name)  # look up the index of the name field

for data_row in new_converted_data:
    none_count = data_row.count(None)
    none_ratings_dict_by_person[data_row[index_of_field_for_key_name]] = none_count

print "\nNone counts:"
for k, v in none_ratings_dict_by_person.iteritems():
    print "'%s' %s" % (k, v)
    # Build a new dictionary with none_counts as the keys and the set of names as the values...
    if v not in none_ratings_dict_by_value: 
        none_ratings_dict_by_value[v] = []
    none_ratings_dict_by_value[v].append(k)
    
# Who rated the most coffee brands?
lowest_none_count = min(none_ratings_dict_by_value, key=int)
print "\nPeople who rated the  most (%s) coffee brands: %s" % ((total_num_coffee_brands - lowest_none_count), ", ".join(map(str, none_ratings_dict_by_value[lowest_none_count])))

# Who rated the least cofee brands?
highest_none_count = max(none_ratings_dict_by_value, key=int)
print "\nPeople who rated the least (%s) coffee brands: %s" % ((total_num_coffee_brands - highest_none_count), ", ".join(map(str, none_ratings_dict_by_value[highest_none_count])))

None counts:
'Dave H' 6
'Ramesh' 5
'Alex' 6
'Rocky' 0
'Zach' 4
'Vanessa' 2
'Deepthi' 5
'India' 2
'Matt' 0
'Isabel' 2
'April' 3
'Alessandro' 3
'Ajay Anand' 4
'Otto' 2
'Markus' 5
'Hugh Jass' 0
'David Feng' 1
'Vijay' 0
'cheong-tseng eng' 6
'Alison' 3

People who rated the  most (9) coffee brands: Rocky, Matt, Hugh Jass, Vijay

People who rated the least (3) coffee brands: Dave H, Alex, cheong-tseng eng

---

### 20. Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with keys as the coffee brand names, and their average rating as the values.

Remember that average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

In [153]:
# A:

# I am creating new lists for the header and data reducing down to just the coffee brand rating fields.
# It is then straightforward to pivot this data set to answer this question.
# This is achieved by removing the "Name" field from the new_header created in Q17, and the corresponding
# data field values from the new_coverted_data list in Q18.

coffee_brands_header = list(new_header)  # new_header - created in Q17. Need to use list(new_header) to prevent copying by reference
coffee_brands_data = []

coffee_brand_ratings = {}
coffee_brand_average_rating = {}

field_to_remove="Name"
index_of_field_to_remove = coffee_brands_header.index(field_to_remove)

#print "\nField to remove: %s" % field_to_remove
#print "Index of '%s' field: %s\n" % (field_to_remove, index_of_field_to_remove)

coffee_brands_header.remove(field_to_remove)
#print "Updated Header:"
#print (coffee_brands_header)

# Remove Name fields in the data rows...
for data_row in new_converted_data:     # new_converted_data - created in Q18
    new_data_row = []
    new_data_row = data_row[:]  # Need to use [:] to copy by value not reference
    new_data_row.pop(index_of_field_to_remove) # remove the first element (the Name value) of new_data_row
    coffee_brands_data.append(new_data_row)

#print "\nUpdated Data:"
#for element in coffee_brands_data:
#    print (element)

# Populate the coffee brand names as the keys to the dictionaries
for coffee_brand_name in coffee_brands_header:
    
    coffee_brand_ratings_total = 0.0
    coffee_brand_ratings_count = 0
    
    coffee_brand_ratings[coffee_brand_name] = []
    coffee_brand_average_rating[coffee_brand_name] = []  # Creating this now for later completion
    
    index_of_coffee_brand_name = coffee_brands_header.index(coffee_brand_name)
    
    # Populate the coffee brand ratings as the values in the dictionaries
    for data_row in coffee_brands_data:
        coffee_rating_value = data_row[index_of_coffee_brand_name]
        coffee_brand_ratings[coffee_brand_name].append(coffee_rating_value)
        
        if (coffee_rating_value != None):
            coffee_brand_ratings_total += coffee_rating_value
            coffee_brand_ratings_count += 1
            
    coffee_brand_average_rating[coffee_brand_name] = float(coffee_brand_ratings_total / coffee_brand_ratings_count)


#print "\nCoffee Ratings Data:"
#for k, v in coffee_brand_ratings.iteritems():
#    print "'%s': %s" % (k, v)


print "\nCoffee Ratings Averages:\n"
for k, v in coffee_brand_average_rating.iteritems():
    print "'%s': %s" % (k, v)

Coffee Ratings Averages:

'PhilzCoffee': 4.25
'WorkshopCafe': 2.91666666667
'RitualCoffee': 3.76923076923
'BlueBottleCoffee': 4.0
'Starbucks': 2.85
'PeetsTea': 3.10526315789
'GrandCoffee': 2.0
'FourBarrel': 3.3
'CaffeTrieste': 3.375

---

### 21. Create a list containing only the people's names.

In [160]:
# A:

people = []

field_to_process="Name"
index_of_field_to_process = new_header.index(field_to_process) # new_header_data - created in Q17

for data_row in new_converted_data:     # new_converted_data - created in Q18
   people.append(data_row[index_of_field_to_process])

for name in people:
    print (name)

Alison
April
Vijay
Vanessa
Isabel
India
Dave H
Deepthi
Ramesh
Hugh Jass
Alex
Ajay Anand
David Feng
Zach
Matt
Markus
Otto
Alessandro
Rocky
cheong-tseng eng

---

### 22. Picking a name at random. What are the odds of choosing the same name three times in a row?

Now we'll use a while-loop to "brute force" the odds of choosing the same name 3 times in a row randomly from the list of names.

Below I've imported the **`random`** package, which has the essential function for this code **`random.choice()`**.
The function takes a list as an argument, and returns one of the elements of that list at random.

In [157]:
import random
# Choose a random person from the list of people:
# random.choice(people)

Write a function to choose a person from the list randomly three times and check if they are all the same

Define a function that has the following properties:

1. Takes a list (your list of names) as an argument.
2. Selects a name using `random.choice(people)` three separate times.
3. Returns `True` if the name was the same all three times. Otherwise returns `False`.

In [188]:
# A:

import random
# Choose a random person from the list of people:
# random.choice(people)

# people list size is 20, so the odss are 1/20 x 1/20 x 1/20 = 1/8000
# So, you'd need to try a maximum of 8000 combinations to see all 20 names repeat three times.
# Presumably then the odds of seeing the first instance repeating three times are 1/8000 divided by 20 = 1/400

def is_same_name_three_times(list_of_names):
    name_one = random.choice(list_of_names)
    name_two = random.choice(list_of_names)
    name_three = random.choice(list_of_names)
    
    #name_one=name_two=name_three="bob"
    
    if not ((name_one == name_two) and (name_one == name_three) and (name_two == name_three)):
        return False
    else:
        print "%s | %s | %s" % (name_one, name_two, name_three)
        return True

---

### 23. Construct a while loop to run the choosing function until it returns True.

Run the function until you draw the same person three times using a while-loop. Keep track of how many tries it took and print out the number of tries after it runs.

In [189]:
# A:

try_counter = 0

while (not (is_same_name_three_times(people))):
    try_counter += 1

print "It took %s attempts for the same name to be picked three times in a row." % try_counter

Deepthi | Deepthi | Deepthi
It took 1294 attempts for the same name to be picked three times in a row.